<!-- Validation failure messages -->
<% if @restaurant.present? %>
  <% if @restaurant.errors.any? %>
    <% @restaurant.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new restaurant
</h1>

<hr>

<form action="/create_restaurant" method="post">
  <!-- Label and input for name -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @restaurant.try(:name) %>">
  </div>

  <!-- Label and input for location -->
  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control" value="<%= @restaurant.try(:location) %>">
  </div>

  <!-- Label and input for comments -->
  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <input type="text" id="comments" name="comments" class="form-control" value="<%= @restaurant.try(:comments) %>">
  </div>

  <!-- Label and input for website -->
  <div class="form-group">
    <label for="website">
      Website
    </label>

    <input type="text" id="website" name="website" class="form-control" value="<%= @restaurant.try(:website) %>">
  </div>

  <!-- Label and input for bookmarks -->
  <div class="form-group">
    <label for="bookmarks">
      Bookmarks
    </label>

    <input type="integer" id="bookmarks" name="bookmarks" class="form-control" value="<%= @restaurant.try(:bookmarks) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create restaurant
  </button>
</form>

<hr>

<a href="/restaurants">
  Go back
</a>
