<h1>
  <%= @restaurant.name %> details
</h1>

<a href="/restaurants/<%= @restaurant.id %>/edit">
  Edit restaurant
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @restaurant.name %>
  </dd>

  <dt>
    Location
  </dt>
  <dd>
    <%= @restaurant.location %>
  </dd>

  <dt>
    Website
  </dt>
  <dd>
    <%= @restaurant.website %>
  </dd>
  
  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@restaurant.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@restaurant.updated_at) %> ago
  </dd>
</dl>

<div class="card mt-3 mb-5">
  <div class="card-header">
    Comments
  </div>
  <ul class="list-group">
    <% @restaurant.comments.each do |comment| %>
      <li class="list-group-item">
        <%= comment.body %>
       </li>
    <% end %>        
        
  </ul>

  <div class="card-header">
    Add a new comment
  </div>

<form action="/create_comment" method="post">
        <!-- Label and input for title -->
        <div class="form-group">

          <input type="text" id="body" name="body" class="form-control">
        </div>  
        
          <input type="hidden" id="restaurant_id" name="restaurant_id" value="<%= @restaurant.id %>">
          <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">
<button class="btn btn-block btn-outline-secondary">
          Add Comment
        </button>          
</form>
</div>

<a href="/delete_restaurant/<%= @restaurant.id %>">
  Delete restaurant
</a>

<hr>

<a href="/restaurants">
  Go back
</a>
